#pragma code_page(65001)
#include "main.h"

ID_DLG_MAIN DIALOG 0, 0, 200, 150
FONT 9, "MS Shell Dlg"
STYLE WS_SYSMENU | WS_MINIMIZEBOX | WS_VISIBLE | DS_CENTER
CLASS C_STR_APPNAME
CAPTION C_STR_APPNAME {
  CTEXT "💤", ID_ICO_MISSION, 10, 10, 20, 20, SS_SUNKEN
  CTEXT "", ID_ICO_AWAKEN, 35, 10, 20, 20, SS_SUNKEN
  CTEXT "", ID_ICO_DEBUG, 60, 10, 20, 20, SS_SUNKEN
  CTEXT "", ID_ICO_EXTRA, 85, 10, 20, 20, SS_SUNKEN
  RTEXT "", ID_TXT_EXTRA, 110, 10, 80, 10
  RTEXT "", ID_TXT_MISSION, 110, 20, 80, 10
  CTEXT "--:--:--", ID_TXT_TIMER, 0, 35, 200, 50
  CONTROL "", ID_PB_MAIN, PROGRESS_CLASS, PBS_SMOOTH | PBS_SMOOTHREVERSE, 10, 90, 180, 15
  DEFPUSHBUTTON "停止", C_CMD_STOP, 140, 110, 50, 15
}

ID_MNU_MAIN MENU {
  POPUP "&File" {
    MENUITEM "New...", C_CMD_NEW
    MENUITEM SEPARATOR
    MENUITEM "Export link...", C_CMD_SAVEAS
    MENUITEM SEPARATOR
    MENUITEM "Exit", C_CMD_EXIT
  }
  POPUP "&Control" {
    MENUITEM "Stop", C_CMD_STOP
    MENUITEM "Keep awaking PC until timeout", C_CMD_AWAKEN
  }
  POPUP "&Tool" {
    MENUITEM "Display power off", C_CMD_DISPOFF
  }
  POPUP "&Help" {
    MENUITEM "Manual...", C_CMD_MANUAL
    MENUITEM SEPARATOR
    MENUITEM "About...", C_CMD_ABOUT
  }
}

ID_DLG_OPTION DIALOG 0, 0, 300, 250
STYLE WS_SYSMENU | WS_VISIBLE | DS_CENTER
CAPTION "オプション"
FONT 9, "MS Shell Dlg"
{
  GROUPBOX "タイマーと実行内容", 0, 10, 10, 280, 105
  LTEXT "指定した待機時間が経過すると、コンピュータはスリープ状態に移行します。", 0, 20, 25, 260, 10
  RTEXT "待機時間(&T):", 0, 20, 40, 85, 10
  COMBOBOX ID_EDIT_TIME, 110, 38, 70, 100, CBS_DROPDOWN | WS_TABSTOP
  LTEXT "環境によっては、スリープ状態が利用できない場合や、スリープ状態ではなく休止状態に移行してしまう場合があります。次の項目で、実行内容の変更ができます。", 0, 20, 65, 260, 30
  RTEXT "実行内容(&O):", 0, 20, 90, 85, 10
  COMBOBOX ID_EDIT_TASK, 110, 88, 100, 100, CBS_DROPDOWNLIST | WS_TABSTOP
  GROUPBOX "オプション", 0, 10, 125, 280, 80
  LTEXT "システムは、アイドル状態になってから一定時間が経過すると、自動でディスプレイの電源を切ったり、スリープ状態に移行したりすることがあります。次の項目で、それらを抑止できます。", 0, 20, 140, 260, 30
  RTEXT "ディスプレイの電源(&D):", 0, 20, 165, 85, 10
  COMBOBOX ID_EDIT_AWDISP, 110, 163, 60, 56, CBS_DROPDOWNLIST | WS_TABSTOP
  RTEXT "スリープ(&S):", 0, 20, 180, 85, 9
  COMBOBOX ID_EDIT_AWSYS, 110, 178, 60, 56, CBS_DROPDOWNLIST | WS_TABSTOP
  DEFPUSHBUTTON "タイマー開始", IDOK, 110, 220, 50, 15
  PUSHBUTTON "キャンセル", IDCANCEL, 240, 220, 50, 15
}

STRINGTABLE {
  C_LANG_JA | C_CMD_EXIT "しゅうりょう"
  C_LANG_JA | C_CMD_AWAKEN "めざめさせておく"
  C_LANG_JA | C_CMD_DISPOFF "黒くする"
  C_LANG_JA | C_STR_FILE "ファイル(&F)"
  C_LANG_JA | C_STR_TOOL "ツール(&T)"
  C_LANG_JA | C_STR_HELP "ヘルプ(&H)"
}
