#pragma code_page(65001)
#include "main.h"

ID_DLG_MAIN DIALOG 0, 0, 200, 150
FONT 9, "MS Shell Dlg"
STYLE WS_SYSMENU | WS_MINIMIZEBOX | WS_VISIBLE | DS_CENTER
CLASS C_STR_APPNAME
CAPTION C_STR_APPNAME {
  CONTROL "💤", ID_ICO_MISSION, STATIC, SS_SUNKEN | SS_CENTER, 10, 10, 20, 20
  CONTROL "👁", ID_ICO_AWAKEN, STATIC, SS_SUNKEN | SS_CENTER, 35, 10, 20, 20
  CONTROL "🐜", ID_ICO_DEBUG, STATIC, SS_SUNKEN | SS_CENTER, 60, 10, 20, 20
  CONTROL "X", ID_ICO_EXTRA, STATIC, SS_SUNKEN | SS_CENTER, 85, 10, 20, 20
  CONTROL "この", ID_TXT_EXTRA, STATIC, SS_RIGHT | SS_SUNKEN, 110, 10, 80, 10
  CONTROL "💤", ID_TXT_MISSION, STATIC, SS_RIGHT | SS_SUNKEN, 110, 20, 80, 10
  CONTROL "--:--:--", ID_TXT_TIMER, STATIC, SS_CENTER, 0, 35, 200, 50
  CONTROL "", ID_PB_MAIN, PROGRESS_CLASS, PBS_SMOOTH | PBS_SMOOTHREVERSE, 10, 90, 180, 15
  AUTOCHECKBOX "", C_CMD_AWAKEN, 35, 10, 9, 9
  DEFPUSHBUTTON "キャンセル", C_CMD_STOP, 140, 110, 50, 15
}

ID_MNU_MAIN MENU {
  POPUP "&File" {
    MENUITEM "New...", C_CMD_NEW
    MENUITEM SEPARATOR
    MENUITEM "Export link...", C_CMD_SAVEAS
    MENUITEM SEPARATOR
    MENUITEM "Exit", C_CMD_EXIT
  }
  POPUP "&Control" {
    MENUITEM "Stop", C_CMD_STOP
    MENUITEM "Keep awaking PC until timeout", C_CMD_AWAKEN
  }
  POPUP "&Tool" {
    MENUITEM "Display power off", C_CMD_DISPOFF
  }
  POPUP "&Help" {
    MENUITEM "Manual...", C_CMD_MANUAL
    MENUITEM SEPARATOR
    MENUITEM "About...", C_CMD_ABOUT
  }
}

STRINGTABLE {
  C_LANG_JA | C_CMD_EXIT "終了"
  C_LANG_JA | C_CMD_AWAKEN "システムによるスリープを抑止"
  C_LANG_JA | C_CMD_DISPOFF "画面の電源を切る"
  C_LANG_JA | C_STR_FILE "ファイル(&F)"
  C_LANG_JA | C_STR_TOOL "ツール(&T)"
  C_LANG_JA | C_STR_HELP "ヘルプ(&H)"
}
